<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>tsl.admin</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>tsl.cms.admin</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextCleanupListener</listener-class>
    </listener>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>commonsRequestLoggingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CommonsRequestLoggingFilter</filter-class>
        <init-param>
            <param-name>includeQueryString</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>includeClientInfo</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>includePayload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxPayloadLength</param-name>
            <param-value>4096</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>commonsRequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 	<filter> -->
    <!-- 		<filter-name>shiroFilter</filter-name> -->
    <!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
    <!-- 		<init-param> -->
    <!-- 			<param-name>targetFilterLifecycle</param-name> -->
    <!-- 			<param-value>true</param-value> -->
    <!-- 		</init-param> -->
    <!-- 	</filter> -->
    <!-- 	<filter-mapping> -->
    <!-- 		<filter-name>shiroFilter</filter-name> -->
    <!-- 		<url-pattern>/*</url-pattern> -->
    <!-- 	</filter-mapping> -->

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--<init-param>-->
        <!--<param-name>throwExceptionIfNoHandlerFound</param-name>-->
        <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<multipart-config>-->
        <!-- 5MB -->
        <!--<max-file-size>5242880</max-file-size>-->
        <!-- 25MB -->
        <!--<max-request-size>26214400</max-request-size>-->
        <!--</multipart-config>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>