
.menu-link {
    margin-bottom: 8px;
}

.center-body {
    padding: 8px;
}

.clear-fix {
    float: left;
    display: inline;
    margin-right: 8px;
}

.tree-node {
    height: 18px;
    white-space: nowrap;
    cursor: pointer;
    padding: 2px;
}