package me.simple.sys.controller;

import com.google.common.collect.Maps;
import me.simple.domain.CurrentUser;
import me.simple.domain.Pageable;
import me.simple.domain.${ClazzName};
import me.simple.sys.service.${ClazzName}Service;
import me.simple.validator.group.*;
import me.simple.web.method.support.LoginedUser;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.validation.BindingResult;
import org.springframework.validation.FieldError;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;

import java.util.List;
import java.util.Map;

@Controller
@RequestMapping("${tablename}")
public class ${ClazzName}Controller {
    private static final Logger logger = LoggerFactory.getLogger(${ClazzName}Controller.class);

    @Autowired
    private ${ClazzName}Service ${clazzName}Service;

    @RequestMapping(value = "index", method = RequestMethod.GET)
    public String index(@Validated(value = {Index.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {

        model.addAttribute(${clazzName});
        return "${tablename}/index";
    }

    @RequestMapping(value = "create", method = RequestMethod.GET)
    public String create(@Validated(value = {Create.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {

        model.addAttribute(${clazzName});
        return "${tablename}/create";
    }

//    @RequestMapping(value = "save", method = RequestMethod.POST)
//    public String save(@Validated(value = {Save.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
//
//        if (bindingResult.hasErrors()) {
//            return "${tablename}/create";
//        }
//        ${clazzName}Service.save(${clazzName}, currentUser);
//        return "redirect:/${tablename}/index";
//    }


    @RequestMapping(value = "save.json", method = RequestMethod.POST)
    @ResponseBody
    public ResponseEntity<Map<String,Object>> asave(@Validated(value = {Save.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
        boolean success = true;
        String message = null;
        Map<String,Object> body = Maps.newHashMap();

        if (bindingResult.hasErrors()) {
            success = false;

        }else{
            ${clazzName}Service.save(${clazzName}, currentUser);
        }

        body.put("success",success);
        body.put("message",message);

        return ResponseEntity.ok(body);
    }

//    @RequestMapping(value = "remove", method = RequestMethod.POST)
//    public String remove(@Validated(value = {Remove.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
//
//        if (bindingResult.hasErrors()) {
//            return "${tablename}/index";
//        }
//        ${clazzName}Service.remove(${clazzName}, currentUser);
//        return "redirect:/${tablename}/index";
//    }


    @RequestMapping(value = "remove.json", method = RequestMethod.POST)
    @ResponseBody
    public ResponseEntity<Map<String,Object>> aremove(/*@Validated(value = {Remove.class}) */${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
    
        boolean success = true;
        String message = null;
        Map<String,Object> body = Maps.newHashMap();

        if (bindingResult.hasErrors()) {
            success = false;
        }else{
            ${clazzName}Service.remove(${clazzName}, currentUser);
        }

        body.put("success",success);
        body.put("message",message);

        return ResponseEntity.ok(body);
    }

    @RequestMapping(value = "edit", method = RequestMethod.GET)
    public String edit(@Validated(value = {Edit.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {

        if (bindingResult.hasErrors()) {
            return "${tablename}/index";
        }
        model.addAttribute(${clazzName}Service.get(${clazzName}, currentUser));
        return "${tablename}/edit";
    }

//    @RequestMapping(value = "update", method = RequestMethod.POST)
//    public String update(@Validated(value = {Update.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
//
//        if (bindingResult.hasErrors()) {
//            return "${tablename}/edit";
//        }
//        ${clazzName}Service.update(${clazzName}, currentUser);
//        return "redirect:/${tablename}/index";
//    }


    @RequestMapping(value = "update.json", method = RequestMethod.POST)
    @ResponseBody
    public ResponseEntity<Map<String,Object>> aupdate(@Validated(value = {Update.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult, @LoginedUser CurrentUser currentUser, Model model) {
    
        boolean success = true;
        String message = null;
        Map<String,Object> body = Maps.newHashMap();
        
        if (bindingResult.hasErrors()) {
            List<FieldError> fes = bindingResult.getFieldErrors();
    
            for (FieldError fe: fes
            ) {
            fe.getField();
            fe.getRejectedValue();
            }
            success = false;
        }else{
             ${clazzName}Service.update( ${clazzName}, currentUser);
        }
    
        body.put("success",success);
        body.put("message",message);
    
        return ResponseEntity.ok(body);
    }

    @RequestMapping(value = "query", method = RequestMethod.GET)
    @ResponseBody
    public ResponseEntity<Map<String, Object>> query(@Validated(value = {Query.class}) ${ClazzName} ${clazzName}, BindingResult bindingResult,
                                                     Pageable pageable,
                                                     @LoginedUser CurrentUser currentUser, Model model) {
        List<${ClazzName}> rows = ${clazzName}Service.query(${clazzName}, pageable, currentUser);
        int total = pageable.getTotal();

        Map<String, Object> body = Maps.newHashMap();
        body.put("rows", rows);
        body.put("total", total);

        return ResponseEntity.ok(body);
    }
}
