/**
 * Created by chensheng on 17/5/28.
 */
function ${tablename}_save() {
    var form = jQuery('#${tablename}_create_form');
    var url = form.attr("action");
    form.form('submit',{
        url: url,
        success: function (data) {
            data = jQuery.parseJSON(data);
            if(data.success){
                tabRefresh("/${tablename}/index");
            }else{
                jQuery.messager.show({msg: data.message});
            }
        }
    });
}