<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ include file="../common/taglib.jsp" %>
<!DOCTYPE html>
<html>
<head>
    <title>${ClazzName} list</title>
    <meta charset="UTF-8">
    <%@ include file="../common/css.jsp" %>
    <%@ include file="../common/js.jsp" %>

</head>
<body>
<div id="${tablename}_index_datagrid" title="${ClazzName} List"></div>

<form:form id="${tablename}_remove_form" method="post" servletRelativeAction="/${tablename}/remove.json" commandName="${clazzName}">
    <form:hidden path="ids"/>
    <form:errors path="ids"/>
</form:form>

<script type="text/javascript" src="/resources/js/${tablename}/index.js"></script>

</body>

</html>
