package me.simple.domain;

import me.simple.validator.group.Remove;
import org.hibernate.validator.constraints.Length;

public class ${ClazzName} implements java.io.Serializable {

#foreach(${field} in ${fields})
private ${field.type} ${field.name};
#end

// ============================================================
@Length(min = 1,max = 200,groups = {Remove.class})
private String ids;
// ============================================================

#foreach(${field} in ${fields})
public ${field.type} get${field.Name}(){
  return ${field.name};
}
public void set${field.Name}(${field.type} ${field.name}){
  this.${field.name} = ${field.name};
}
#end

public String getIds() {
  return ids;
}

public void setIds(String ids) {
  this.ids = ids;
}

}