<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <property name="LOG_HOME" value="${logback.file.path}" /> -->
    <property resource="config.properties"/>
    <!--     <appender name="FILE" -->
    <!--         class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
    <!--         <file>${logback.file.path}/xxfw.log</file> -->
    <!--         <rollingPolicy -->
    <!--             class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"> -->
    <!--             <fileNamePattern>${logback.file.path}/${logback.file.size.time.name.pattern} -->
    <!--             </fileNamePattern> -->
    <!--             <maxFileSize>100MB</maxFileSize> -->
    <!--             <maxHistory>31</maxHistory> -->
    <!--             <totalSizeCap>3GB</totalSizeCap> -->
    <!--         </rollingPolicy> -->
    <!--         <encoder> -->
    <!--             <pattern>%-4r %d %-5level %logger{36} - %msg%n</pattern> -->
    <!--         </encoder> -->
    <!--     </appender> -->

    <!--     <appender name="FILE" -->
    <!--         class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
    <!--         <file>${logback.file.path}/xxfw.log</file> -->
    <!--         <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
    <!--             <fileNamePattern>${logback.file.path}/${logback.file.zip.name.pattern}</fileNamePattern> -->
    <!--             <minIndex>1</minIndex> -->
    <!--             <maxIndex>21</maxIndex> -->
    <!--         </rollingPolicy> -->
    <!--         <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
    <!--             <maxFileSize>100MB</maxFileSize> -->
    <!--         </triggeringPolicy> -->
    <!--         <encoder> -->
    <!--             <pattern>%-4r %d %-5level %logger{35} - %msg%n</pattern> -->
    <!--         </encoder> -->
    <!--     </appender> -->

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.file.path}/${logback.file.name}</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.file.path}/${logback.file.time.name.pattern}</fileNamePattern>
            <maxHistory>31</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4r %d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4r %d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>-->
    <!--   <logger name="java.sql" level="DEBUG" /> -->
    <!--   <logger name="org.hibernate.SQL" level="DEBUG" /> -->
    <!--   <logger name="org.hibernate.type" level="TRACE" /> -->
    <!--   <logger name="org.springframework.jdbc.core" level="DEBUG" /> -->
    <!--   <logger name="org.springframework.jdbc.core.namedparam" level="DEBUG" /> -->
    <!--   <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/> -->

         <root level="INFO">
             <appender-ref ref="FILE" />
         </root>
    <!--<root level="INFO">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</root>-->
</configuration>
